*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: rgb(11, 219, 209);
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

.menuPrincipal ul{
    list-style: none;  
    display: flex;
    justify-items: center;
}

.menuPrincipal li {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #333;
}

.menuPrincipal a{
    text-decoration: none;
    color: #000;
}

.menuPrincipal a:hover{
    font-size: 20px;
}

.menuPrincipal{
    margin-bottom: 100px;
}

.lista-tarefas{
    list-style: none;
}